In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [5]:
df.tail(4)

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [7]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [9]:
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [10]:
df['temperature'].max()

35

In [11]:
df['temperature'].mean()

30.333333333333332

In [12]:
df['temperature'].std()

3.8297084310253524

In [14]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [16]:
df.set_index('day',inplace=True)

In [17]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [25]:
df.reset_index(inplace=True)
df

   event  level_0  index       day  temperature  windspeed
0   Rain        0      0  1/1/2017           32          6
1  Sunny        1      1  1/2/2017           35          7
2   Snow        2      2  1/3/2017           28          2
3   Snow        3      3  1/4/2017           24          7
4   Rain        4      4  1/5/2017           32          4
5  Sunny        5      5  1/6/2017           31          2

In [26]:
df.set_index('event', inplace=True)
df

       level_0  index       day  temperature  windspeed
event
Rain         0      0  1/1/2017           32          6
Sunny        1      1  1/2/2017           35          7
Snow         2      2  1/3/2017           28          2
Snow         3      3  1/4/2017           24          7
Rain         4      4  1/5/2017           32          4
Sunny        5      5  1/6/2017           31          2

In [28]:
df.loc['Snow']

       level_0  index       day  temperature  windspeed
event
Snow         2      2  1/3/2017           28          2
Snow         3      3  1/4/2017           24          7

In [6]:

d = {
    'name' : ['hi', 'sid','bag'],
    'marks' : [10,15,13],
    'grades':['A','B','A']
}
b = pd.DataFrame(d)
print(b)

  name  marks grades
0   hi     10      A
1  sid     15      B
2  bag     13      A

In [ ]:
#